asgiref==3.8.1
blessed==1.20.0
bpython==0.24
certifi==2024.8.30
charset-normalizer==3.3.2
curtsies==0.4.2
cwcwidth==0.1.9
Django==5.1.1
greenlet==3.1.0
idna==3.10
Pygments==2.18.0
pyxdg==0.28
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
urllib3==2.2.3
wcwidth==0.2.13
