{% extends 'blog/base.html' %}

    {% block content %}

    <!-- HTML elements with Bootstrap classes -->
    
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in post_list %}
        <div class="col">
          <div class="card m-3" style="background-color: #FFFDF2;">
            <div class="card-body">
              <h1 class="card-title">{{ post.title }}</h1>
              <p class="card-text text-muted small">{{ post.published }}</p>
              <p class="card-text">{{ post.text|capfirst|truncatechars:30 }}.</p>
              <a href="{% url 'blog:detail' post.id %}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    {% endblock content %}
